@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* Neutrals / Grays */
  --gray-100: #F2F2F2;
  --gray-200: #E2E2E2;
  --gray-300: #E6E6E6;
  --gray-400: #B3B3B3;
  --gray-500: #707070;
  --gray-600: #696C70;
  --gray-700: #666666;
  --gray-800: #606266;
  --gray-900: #333333;

  /* Blacks & Whites */
  --black-100: #1A1A1A;
  --black-900: #000000;
  --white: #FFFFFF;

  /* Colors */
  --blue-primary: #5A72EC;
  --blue-primary-dark: #405be4;
  --green-primary: #3EAD81;
  --orange-accent: #EF5D38;
  --blue-sapphire: #3F7CAC;
  --purple-royal: #6D5ACF;
  --red-crimson: #C73E3A;
  --yellow-amber: #F2B705;
  --teal-mist: #4FB3A2;
  --pink-blush: #E96BA8;
  --brown-earth: #8B5E3C;
  --gray-steel: #6B7280;

  /* Font Family */
  --font-primary: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* Font Sizes (rem for responsiveness) */
  --fs-xs: 0.75rem;
  /* 12px */
  --fs-sm: 0.875rem;
  /* 14px */
  --fs-md: 1rem;
  /* 16px */
  --fs-lg: 1.25rem;
  /* 20px */
  --fs-xl: 1.5rem;
  /* 24px */
  --fs-xxl: 2rem;
  /* 32px */

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
}

.color-green {
  background-color: var(--green-primary);
}

.color-blue {
  background-color: var(--blue-sapphire);
}

.color-purple {
  background-color: var(--purple-royal)
}

.color-pink {
  background-color: var(--pink-blush)
}

.color-red {
  background-color: var(--red-crimson)
}

.color-yellow {
  background-color: var(--yellow-amber)
}

.color-teal {
  background-color: var(--teal-mist)
}

.color-brown {
  background-color: var(--brown-earth)
}

.color-gray {
  background-color: var(--gray-steel);
}