ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-900)
}

button {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  cursor: pointer;
  transition: .4s;
}

input {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
}

.main {
  max-width: 1200px;
  min-height: 400px;
  height: 100vh;
  margin: 0 auto;
}

.grid {
  display: grid;
  height: 100%;
  margin-inline: 10px;
}

.top {
  width: 100%;
}

.header {
  width: 100%;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

.nav_title h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}

.nav_funcs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_group {
  padding: 7px;
  height: 100%;
  border-radius: 4px;
  border-color: var(--gray-900);
  border-style: solid;
  border-width: 1px;
  background-color: var(--white);
}

.search_group input {
  border: none;
  outline: none;
  height: 100%;
  color: var(--gray-900);
  background-color: transparent;
}

.search_group input:focus {
  outline: none;
}

.search_group .underline_input {
  text-decoration: underline;
}

.search_group .search_btn {
  position: relative;
  padding-right: 4px;
}

.search_btn {
  cursor: pointer;
}

.result_container {
  position: relative;
  width: 100%;
}

.search_results {
  position: absolute;
  z-index: -1;
  padding: 10px;
  margin: 4px;
  background-color: var(--white);
  left: -11.64px;
  width: calc(100% + 16px);
  box-shadow: 0px 2px 5px rgb(0, 0, 0, .1);
  border-radius: 4px;
  top: -50%;
  transition: .4s;
  display: none;
}

.search_results_active {
  display: block;
}

.btn_group .muted {
  margin-right: 10px
}

.muted {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--gray-100);
}

.muted:hover {
  background-color: var(--gray-300);
}

.primary {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--blue-primary);
}

.primary:hover {
  background-color: var(--blue-primary-dark);
}

main {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 8px;
  min-height: 135px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-500);
  border-radius: 4px;
}

.card_desc {
  display: grid;
  height: 100%;
}

.card_extra {
  align-self: flex-end;
  display: flex;
  position: absolute;
}

.btn_icon {
  display: none;
}

.card_extra span {
  font-size: var(--fs-xs);
  font-style: normal;
  margin-right: 4px;
}

.desc {
  max-height: 70px;
}

.card_funcs {
  position: absolute;
  width: max-content;
  margin-top: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgb(0, 0, 0, .15);
  border-radius: 4px;
  padding: 2px;
  transition: .1s;
  z-index: 2;
  right: 10px;
}

.card_funcs ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.card_funcs ul li {
  cursor: pointer;
  transition: .4s;
  padding: 5px;
  border-radius: 4px;
}

.card_funcs ul li:hover {
  background-color: var(--gray-100);
}

.hidden {
  scale: 0;
}

.option_btn {
  background-color: transparent;
  border: none;
}

.option_btn i {
  padding: 8px;
  border-radius: 100%;
  transition: .2s;
  cursor: pointer;
}

.option_btn i:hover {
  background-color: var(--gray-100);
}

.font_muted {
  color: var(--gray-500);
  font-style: italic;
}

.card_outline {
  position: relative;
}

.card_outline::before {
  content: '';
  position: absolute;
  height: 6px;
  width: calc(100% + 2px);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: -1px;
  left: -1px;
}

.card_outline_green::before {
  background-color: var(--green-primary);
}

.card_outline_orange::before {
  background-color: var(--orange-accent);
}

footer {
  align-self: flex-end;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials ul li {
  display: inline-block;
  font-size: var(--fs-lg);
  padding-left: 10px;
}

.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: var(--gray-400);
  opacity: .3;
  display: none;
}

.full {
  display: block;
}

.delete_icon {
  color: tomato;
}

.delete_func button {
  border: none;
  background-color: transparent;
}

.text_center {
  width: 100%;
  text-align: center;
}

.grid_1 {
  grid-template-columns: repeat(1, 1fr);
}

@media (width <=952px) {
  .card_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <=672px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <=540px) {
  nav {
    align-items: center;
  }

  .search_group {
    border: none;
    padding: 0px;
  }

  .search_btn i {
    font-size: var(--fs-lg);
  }

  .search_input {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px !important;
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 4px;
    z-index: 3;
    background-color: var(--white) !important;
    transition: .4s;
  }

  .search_input_active {
    top: 30px;
  }

  .primary {
    background-color: transparent;
    padding: 0px;
  }

  .primary:hover {
    background-color: transparent;
  }

  .btn_text {
    display: none;
  }

  .btn_icon {
    display: inline-block;
    color: var(--blue-primary);
    font-size: var(--fs-xl);
  }

  .open {
    display: block;
  }

  .result_container {
    position: static;
  }

  .search_results {
    z-index: 2;
    width: calc(100% - 20px);
    transform: translate(-50%, -50%);
    left: calc(50% - 4px);
    margin-top: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    top: -50%;
  }

  .search_results_active {
    top: 45px;
  }
}

@media (width <=470px) {
  .card_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}