ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-900)
}

button {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  cursor: pointer;
  transition: .4s;
}

input {
  font-family: var(--font-primary);
  font-size: var(--fs-sm);
}

._main {
  max-width: 1200px;
  min-height: 400px;
  height: 100vh;
  margin: 0 auto;
}

._grid {
  display: grid;
  height: 100%;
  margin-inline: 10px;
}

._top {
  width: 100%;
}

._header {
  width: 100%;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 20px;
}

._nav_title h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}

._nav_funcs {
  display: flex;
  align-items: center;
  gap: 10px;
}

._search_group {
  padding: 7px;
  height: 100%;
  border-radius: 4px;
  border-color: var(--gray-900);
  border-style: solid;
  border-width: 1px;
}

._search_group input {
  border: none;
  outline: none;
  height: 100%;
  color: var(--gray-900);
  background-color: transparent;
}

._search_group input:focus {
  outline: none;
}

._search_group ._underline_input {
  text-decoration: underline;
}

._search_group ._search_btn {
  position: relative;
  padding-right: 4px;
}

._search_btn {
  cursor: pointer;
}

._btn_group ._muted {
  margin-right: 10px
}

._muted {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--gray-100);
}

._muted:hover {
  background-color: var(--gray-300);
}

._primary {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--blue-primary);
}

._primary:hover {
  background-color: var(--blue-primary-dark);
}

main {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

._card_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

._card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 8px;
  min-height: 135px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-500);
  border-radius: 4px;
}

._card_desc {
  display: grid;
  height: 100%;
}

._card_extra {
  align-self: flex-end;
  display: flex;
  position: absolute;
}

._btn_icon {
  display: none;
}

._card_extra span {
  font-size: var(--fs-xs);
  font-style: normal;
  margin-right: 4px;
}

._desc {
  max-height: 70px;
}

._card_funcs {
  position: absolute;
  width: max-content;
  margin-top: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgb(0, 0, 0, .15);
  border-radius: 4px;
  padding: 2px;
  transition: .07s;
}

._card_funcs ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

._card_funcs ul li {
  cursor: pointer;
  transition: .4s;
  padding: 5px;
  border-radius: 4px;
}

._card_funcs ul li:hover {
  background-color: var(--gray-100);
}

._hidden {
  scale: 0;
}

._option_btn i {
  padding: 8px;
  border-radius: 100%;
  transition: .2s;
  cursor: pointer;
}

._option_btn i:hover {
  background-color: var(--gray-100);
}

._font_muted {
  color: var(--gray-500);
  font-style: italic;
}

._card_outline {
  position: relative;
}

._card_outline::before {
  content: '';
  position: absolute;
  height: 6px;
  width: calc(100% + 2px);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: -1px;
  left: -1px;
}

._card_outline_green::before {
  background-color: var(--green-primary);
}

._card_outline_orange::before {
  background-color: var(--orange-accent);
}

footer {
  align-self: flex-end;
  width: 100%;
}

._footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._socials ul li {
  display: inline-block;
  font-size: var(--fs-lg);
  padding-left: 10px;
}

._backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: var(--gray-400);
  opacity: .3;
  display: none;
}

@media (width <=952px) {
  ._card_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <=672px) {
  ._card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <=540px) {
  nav {
    align-items: center;
  }

  ._search_group {
    border: none;
    padding: 0px;
  }

  ._search_btn i {
    font-size: var(--fs-lg);
  }

  ._search_input {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px !important;
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid !important;
    border-color: var(--gray-900);
    box-shadow: 0px 4px 8px rgb(0, 0, 0, .15);
    z-index: 10;
    background-color: var(--white) !important;
    transition: .4s;
  }

  ._search_input_active {
    top: 30px;
  }

  ._primary {
    background-color: transparent;
    padding: 0px;
  }

  ._primary:hover {
    background-color: transparent;
  }

  ._btn_text {
    display: none;
  }

  ._btn_icon {
    display: inline-block;
    color: var(--blue-primary);
    font-size: var(--fs-xl);
  }

  ._open {
    display: block;
  }
}

@media (width <=470px) {
  ._card_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}