<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/base.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/edit.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Flashcard - Edit</title>
  </head>
  <body>
    <div class="_main">
      <div class="_card_section">
        <div class="_card_section_header">
          <div class="_card_title">
            <input type="text" class="_title_input" value="Mathematics" />
            <span class="_changed"></span>
          </div>
          <div class="_card_more">
            <i class="ri-more-line"></i>
            <div class="_card_funcs">
              <ul>
                <li class="_add_func">
                  <i class="ri-add-box-line"></i>
                  Add Card
                </li>
                <li class="_save_func">
                  <i class="ri-save-line"></i>
                  Save Changes
                </li>
                <li class="_chage_func">
                  <i class="ri-color-filter-line"></i>
                  Change Color
                </li>
                <li class="color_func">
                  <i class="ri-delete-bin-line"></i>
                  Delete Flascard
                </li>
                <li class="_back_func">
                  <i class="ri-arrow-left-long-line"></i>
                  Go Home
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="_card_container">
          <div class="_nav_btn">
            <i class="ri-arrow-left-long-line"></i>
          </div>
          <div class="_cards">
            <div class="_card">
              <div class="_card_header">
                <div class="_card_status">
                  <span>Question</span>
                  <span>Answer</span>
                </div>
                <button class="_edit_btn">
                  <i class="ri-edit-2-line"></i>
                  Edit Text
                </button>
              </div>
              <div class="_full_height">
                <div class="_text">
                  <p class="_card_text">What is the haemogoblin?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="_nav_btn_right">
            <i class="ri-arrow-right-long-line"></i>
          </div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='scripts/edit.js')}}"></script>
  </body>
</html>
