<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/base.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/home.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Flashcards</title>
  </head>
  <body>
    <div class="main">
      <div class="backdrop"></div>
      <div class="grid">
        <div class="top">
          <header>
            <div class="header">
              <nav>
                <div class="nav_title">
                  <h1>Flashcards</h1>
                </div>
                <div class="nav_funcs">
                  <div class="search_group">
                    <span class="search_btn"
                      ><i class="ri-search-line"></i
                    ></span>
                    <input
                      type="text"
                      placeholder="Search cards"
                      class="search_input js_input"
                    />
                    <div class="result_container">
                      <div class="search_results">No results</div>
                    </div>
                  </div>

                  <div class="btn_group">
                    <button class="primary js_card">
                      <span class="btn_text"> Create Flashcard </span>
                      <i class="ri-add-box-fill btn_icon"></i>
                    </button>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <main>
            <div class="card_grid">
              <div class="card card_outline">
                <div class="card_desc">
                  <div class="card_info">
                    <h3>Thermodynamics</h3>
                    <p class="desc font_muted">No description</p>
                  </div>
                  <div class="card_extra">
                    <div class="card_nos">
                      <i class="ri-rectangle-line"></i>
                      <span class="no font_muted">35 cards</span>
                    </div>
                    <div class="card_created">
                      <i class="ri-time-line"></i>
                      <span class="time font_muted">Created 1d ago</span>
                    </div>
                  </div>
                </div>
                <div class="card_options">
                  <button class="option_btn">
                    <i class="ri-more-2-fill"></i>
                  </button>
                  <div class="card_funcs hidden">
                    <ul>
                      <li class="edit_func">
                        <i class="ri-edit-box-line"></i>
                        Edit
                      </li>
                      <li class="delete_func">
                        <i class="ri-delete-bin-line"></i>
                        Delete card
                      </li>
                      <li class="add_group_func">
                        <i class="ri-add-box-line"></i>
                        Add to Group
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>

        <footer>
          <div class="footer">
            <div class="info">Made by duckdoe</div>
            <div class="socials">
              <ul>
                <li class="github">
                  <a href="https://github.com/duckdoe">
                    <i class="ri-github-fill"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a href="">
                    <i class="ri-twitter-x-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script
      src="{{url_for('static', filename='scripts/home.js')}}"
      type="module"
    ></script>
  </body>
</html>
