<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/base.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/home.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.8.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Flashcards</title>
  </head>
  <body>
    <div class="_main">
      <div class="_backdrop"></div>
      <div class="_grid">
        <div class="_top">
          <header>
            <div class="_header">
              <nav>
                <div class="_nav_title">
                  <h1>Flashcards</h1>
                </div>
                <div class="_nav_funcs">
                  <div class="_search_group">
                    <span class="_search_btn"
                      ><i class="ri-search-line"></i
                    ></span>
                    <input
                      type="text"
                      placeholder="Search cards"
                      class="_search_input _js_input"
                    />
                    <div class="_result_container">
                      <div class="_search_results">No results</div>
                    </div>
                  </div>

                  <div class="_btn_group">
                    <button class="_primary _js_card">
                      <span class="_btn_text"> Create Flashcard </span>
                      <i class="ri-add-box-fill _btn_icon"></i>
                    </button>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <main>
            <div class="_card_grid">
              <div class="_card _card_outline">
                <div class="_card_desc">
                  <div class="_card_info">
                    <h3>Thermodynamics</h3>
                    <p class="_desc _font_muted">No description</p>
                  </div>
                  <div class="_card_extra">
                    <div class="_card_nos">
                      <i class="ri-rectangle-line"></i>
                      <span class="_no _font_muted">35 cards</span>
                    </div>
                    <div class="_card_created">
                      <i class="ri-time-line"></i>
                      <span class="_time _font_muted">Created 1d ago</span>
                    </div>
                  </div>
                </div>
                <div class="_card_options">
                  <button class="_option_btn">
                    <i class="ri-more-2-fill"></i>
                  </button>
                  <div class="_card_funcs _hidden">
                    <ul>
                      <li class="_edit_func">
                        <i class="ri-edit-box-line"></i>
                        Edit
                      </li>
                      <li class="_delete_func">
                        <i class="ri-delete-bin-line"></i>
                        Delete card
                      </li>
                      <li class="_add_group_func">
                        <i class="ri-add-box-line"></i>
                        Add to Group
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>

        <footer>
          <div class="_footer">
            <div class="_info">Made by duckdoe</div>
            <div class="_socials">
              <ul>
                <li class="_github">
                  <a href="https://github.com/duckdoe">
                    <i class="ri-github-fill"></i>
                  </a>
                </li>
                <li class="_twitter">
                  <a href="">
                    <i class="ri-twitter-x-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script
      src="{{url_for('static', filename='scripts/home.js')}}"
      type="module"
    ></script>
  </body>
</html>
